<?php

$SITE_NAME = "Website";

$SERVERNAME = "db";
$USERNAME = "app";
$PASSWORD = "app";
$DATABASE = "app";

$HOST = getenv("HOST");
$IS_LOCAL = true;

$PHP_DISPLAY_ERRORS = 1;
$PHP_DISPLAY_STARTUP_ERRORS = 1;
$PHP_ERROR_REPORTING = 1;

$DEFAULT_TIMEZONE = "UTC";

$WEBSITE_NAME = 'My website';
$WEBSITE_DESC = 'Welcome to my very cool website';

?>